.post {
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.post__image {
    width: 100%;
    object-fit: contain; /*responsive aspect ratio  */
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post__text {
    font-weight: normal; /* Reset the font */
    padding: 20px;
}

.post__header {
    display: flex;
    align-items: center; /* Center the items to center COL */
    padding: 20px;
}

.post__avatar {
    margin-right: 10px;
}

.post__comments {
    padding: 20px;
}

.post__comment{
    margin-bottom: 5px;
}

.post__commentBox {
    display: flex;
    margin-top: 10px;
}

/* Children of post__commentBox */
.post__input {
    flex: 1;
    border: none; /* Delete the border */
    padding: 10px;
    border-top: 1px solid lightgray ;
}

/* Children of post__commentBox */
.post__button {
    flex: 0;
    border: none; /* Delete the border */
    padding: 10px;
    border-top: 1px solid lightgray ;
    color: #0095f6;
    background-color: transparent;
}